AUTH0_CLIENT_SECRET=yourclientsecretfromauth0
AUTH0_CLIENT_ID=getthisfromauth0
AUTH0_DOMAIN=foo.bar.com
AUTH0_CALLBACK_URL=http://127.0.0.1:5000/callback
SECRET_KEY="CHANGETHISSECRETKEYORHAXWILLCOME"
